%header.project-banner
  <div class="image-wrapper #{t('neon_labs.slug')}"></div>
  %section.banner
    %h1= t("neon_labs.name")
    %h5.half-opacity= t("neon_labs.timeframe")
    %p= t("neon_labs.subtitle")
%section.project-body
  .box
    %aside.sidebar-l
      -# .sidebar-set
      -#   =link_to 'Visit website', 'http://huesandviews.tumblr.com', class: 'button'
      .sidebar-set
        %header
          %h5 Toolkit
          %ul
            %li Ruby on Rails
            %li HAML & SCSS
            %li Vim
            %li Trello for project management
    %article.main-column
      %h3.article-header= t("neon_labs.standfirst_title")
      %p.standfirst= t("neon_labs.standfirst")
  .box
    %article.main-column.no-left
      .row
        %h4 Defining the goal
        %p
          Having grown up in the smoggy and car-ridden Los Angeles suburbs,
          I've always romanticized the San Francisco Bay as an alien planet
          with tall hills and cold weather, albeit the cities were only 400
          miles away. In 2011, I took a road trip up from LA with a few
          friends, and I instantly fell in love with the city when I observed
          two things: people wore sneakers everywhere, and gay couples could
          hold hands in public without getting a double take. I was sold.
        %h4 Moving into a gentrification project
        %p
          I guess I wasn't the only one who wanted to live in San Francisco.
          What began as an innocuous desire to move to the city of my dreams
          emerged a rocky relationship between myself and the city, where I
          questioned my position as a "tech worker" amidst a housing crisis and
          an ever-growing inequality gap amongst residents of the Bay Area.
        %p
          In wanting to belong to the city in a more participatory nature
          beyond simply paying rent, I wanted to be in the public, deliberately
          blending into the street as I drew it.
  .box
    %article.col-2
      .col
        %figure.image-wrapper
          = image_tag("hues_and_views/hv-sf-2014-3.jpg")
          %figcaption San Francisco, May 2014
      .col
        %figure.image-wrapper
          = image_tag("hues_and_views/hv-paris-2014-1.jpg")
          %figcaption Paris, April 2014
  .box
    %article.main-column.no-left
      %h4 I saw the Eiffel Tower; so what?
      %p
        When I travelled abroad by myself in April 2014 and visited the one of
        the most sought-after cities in the world, Paris, I wondered about the
        significance of visiting famous sites. After we see the thing we've
        been meaning to see, what's next? I took a few selfies with the Eiffel
        Tower and the Louvre. But yet, I still didn't have a relationship with
        this Place. I did what felt most uncomfortable to me; I tried to draw
        the moment to cement the memory with my ink lines.
      %h4 All the places
      %p
        Places I've drawn already:
        %ul
          %li San Francisco, CA
          %li Paris, France
          %li Malaga, Spain
          %li Copenhagen, Denmark
          %li Koblenz, Germany
          %li New York, NY
        Places to draw:
        %ul
          %li Los Angeles, CA
          %li Marin Headlands, CA
          %li Austin, TX
          %li Oakland, CA
          %li New Orleans, LA
          %li Portland, OR
          %li Portland, ME
          %li Middletown, CT
          %li Lisbon, Portugal
          %li Ho Chi Minh City, Vietnam
