%header.project-banner
  <div class="image-wrapper #{t('neon_labs.slug')}"></div>
  %section.banner
    %h1= t("neon_labs.name")
    %h5.half-opacity= t("neon_labs.timeframe")
    %p= t("neon_labs.subtitle")
%section.project-body
  .box
    %aside.sidebar-l
      .sidebar-set
        %header
          %h5 Toolkit
          %ul
            %li Ruby on Rails
            %li HAML & SCSS
            %li
              = link_to "thoughtbot's Product Design Sprint",
                "http://playbook.thoughtbot.com/#prep-work"
            %li
              = link_to "Vim",
                "https://github.com/lisasy/dotfiles/blob/master/vimrc"
            %li Trello
      .sidebar-set
        %header
          %h5 Team
          %ul
            %li 1 Rails developer
            %li 1 other designer (part-time)
    %article.main-column
      %h3.article-header= t("neon_labs.standfirst_title")
      %p.standfirst= t("neon_labs.standfirst")
  .box
    %article.main-column.no-left
      .row
        %h4 Defining the goal
        %p
          The Neon team came to <a href="http://thoughtbot.com"
          target="_blank">thoughtbot</a> to design the interface and user
          experience for uploading and selecting Neon-generated thumbnails for
          their videos. In order the understand the product, business,
          technology, and customer, I led a week-long design sprint with the
          stakeholders, addressing the customers' needs and identifying how
          Neon can fulfill them.
        %p
          While Neon came in with wireframes and mockups, we did not stay
          too fixated on those existing sources. We had to learn more about the
          product and what the customer needed before making decisions on how
          the application should function.
        %h4 The Customer
        %p
          With the <a href="http://en.wikipedia.org/wiki/Software_as_a_service"
          target="_blank">SaaS</a> business model, we defined our primary
          customers for MVP to be media publishers.
        %figure.image-wrapper
          = image_tag("neon_labs/neon-sprint-whiteboard.jpg")
          %figcaption
            After defining our customer (media publishers), we brainstormed the
            imagined critical user flow of the application. This is Bob's
            story.
  .box
    %article
      .blockquote
        %h4 Value Proposition
        %blockquote
          Neon enables you to find the best thumbnail in your video to increase
          viewership.
  .box
    %article.main-column.no-left
      .row
        %h4 High-level user stories
        %p
          Now that we have a value proposition defined, how do we create a
          great user experience for those using this service?
        %p
          With a lot of post-it notes, sketching, and whiteboarding, we estab
  .box
    %article.main-column.no-left
      .row
        %h4 Finding inspiration in existing products
        %p
          During this exploratory design phase, it's important to seek out
          potential options of designing and building. It was useful to see
          existing products' information architecture, product and interaction
          design; we were inspired by RDIO, Dropbox, and iTunes.
  .box
    %article.col-2
      .column
        %figure.image-wrapper
          = image_tag("neon_labs/neon-inspiration-1.jpg")
          %figcaption RDIO and iTunes
      .column
        %figure.image-wrapper
          = image_tag("neon_labs/neon-inspiration-2.jpg")
          %figcaption Dropbox
