%section.project-body
  .box
    %aside.sidebar-l
      .sidebar-set
        =link_to "See older work", "http://lisasy.carbonmade.com/", class: "button", target: "_blank"
      .sidebar-set
        %header
          %h5 Experiences
          %ul
            %li Drawing
            %li Painting (oil, acryllic)
            %li Printmaking (screen, letterpress)
            %li Typography
            %li Graphic design
            %li Installation Art
            %li Electronic Media
    %article.main-column
      .row
        %h4 Figure Drawing Nudes
        %p
          All artists ought to carry a sketchbook around with them everywhere they go. It's important to see many different things and places so that we can find inspiration and understand connections between things. Sketchbooks allow us to capture ideas and thoughts in the moment. We work within and on the process when we use our sketchbooks.
      %figure.image-wrapper
        = image_tag("nudes/nude-1.jpg")
      %figure.image-wrapper
        = image_tag("nudes/nude-2.jpg")
      %figure.image-wrapper
        = image_tag("nudes/nude-3.jpg")
      %figure.image-wrapper
        = image_tag("nudes/nude-6.jpg")
      %figure.image-wrapper
        = image_tag("nudes/nude-7.jpg")

  .box
    %article.col-2
      .column
        %figure.image-wrapper
          = image_tag("nudes/nude-8.jpg")
      .column
        %figure.image-wrapper
          = image_tag("nudes/nude-5.jpg")

