- p = locals[:project]

%header.project-banner
  <div class="image-wrapper #{p[:slug]}"></div>
  %section.banner
    %h1= p[:name]
    %h5.half-opacity= p[:timeframe]
    %p= p[:subtitle]
%section.project-body
  .box
    %aside.sidebar-l
      -# .sidebar-set
      -#   =link_to 'Visit website', 'http://huesandviews.tumblr.com', class: 'button'
      .sidebar-set
        %header
          %h5 Tools Used
          %ul
            %li= link_to 'Micron Pens 005', 
              'http://www.dickblick.com/products/sakura-pigma-micron-pen/', target: '_blank'
            %li= link_to 'Prismacolor Markers', 
              'http://www.prismacolor.com/products/art-markers/brush-tip-markers', target: '_blank'
            %li= link_to 'Moleskine Large Sketchbook', 
              'http://www.moleskine.com/us/collections/model/product/sketchbook-large', target: '_blank'
      .sidebar-set
        %header
          %h5= p[:sidebar][:a][:title]
          %ul
            - p[:sidebar][:a][:items].each do |i|
              %li= i
    %article.main-column
      %h3.article-header= p[:content][:standfirst_title]
      %p.standfirst= p[:content][:standfirst]

  .box
    %article.main-column.no-left
      .row
        %h4 Fantasizing spaces
        %p
          Having grown up in the smoggy and car-ridden Los Angeles suburbs, I've always romanticized the San Francisco Bay as an alien planet with tall hills and cold weather, albeit the cities were only 400 miles away. In 2011, I took a road trip up from LA with a few friends, and I instantly fell in love with the city when I observed two things: people wore sneakers everywhere, and gay couples could hold hands in public without getting a double take. I was sold.
        %h4 Moving into a gentrification project
        %p
          I guess I wasn't the only one who wanted to live in San Francisco. What began as an innocuous desire to move to the city of my dreams emerged a rocky relationship between myself and the city, where I questioned my position as a "tech worker" amidst a housing crisis and an ever-growing inequality gap amongst residents of the Bay Area.
        %p
          In wanting to belong to the city in a more participatory nature beyond simply paying rent, I wanted to be in the public, deliberately blending into the street as I drew it.
      %h4 I saw the Eiffel Tower; so what?
      %p
        When I travelled abroad by myself in April 2014 and visited the one of the most sought-after cities in the world, Paris, I wondered about the significance of visiting famous sites. After we see the thing we've been meaning to see, what's next? I took a few selfies with the Eiffel Tower and the Louvre. But yet, I still didn't have a relationship with this Place. I did what felt most uncomfortable to me; I tried to draw the moment to cement the memory with my ink lines.
      %h4 All the places
      %p
        So far, I've gotten to draw: San Francisco, CA; Paris, France; Malaga, Spain; Koblenz, Germany; Copenhagen, Denmark; and New York, NY. I hope to draw these places someday: Portland, OR; Austin, TX; New Orleans, LA; Philadelphia, PA; Montreal, BC; Florence, Italy; Savannah, Georgia; Ho Chi Minh City, Vietnam.
