- p = locals[:project]

- wrap_layout :layout do
  %header.project-banner
    <div class="image-wrapper #{p[:slug]}"></div>
    %section.banner
      %h1= p[:name]
      %h5.half-opacity= p[:timeframe]
      %p= p[:subtitle]
  %section.project-body
    .box
      %aside.sidebar-l
        -# .sidebar-set
        -#   =link_to 'Visit website', 'http://huesandviews.tumblr.com', class: 'button'
        .sidebar-set
          %header
            %h5 Tools Used
            %ul
              %li= link_to 'Micron Pens 005', 
                'http://www.dickblick.com/products/sakura-pigma-micron-pen/', target: '_blank'
              %li= link_to 'Prismacolor Markers', 
                'http://www.prismacolor.com/products/art-markers/brush-tip-markers', target: '_blank'
              %li= link_to 'Moleskine Large Sketchbook', 
                'http://www.moleskine.com/us/collections/model/product/sketchbook-large', target: '_blank'
        .sidebar-set
          %header
            %h5= p[:sidebar][:a][:title]
            %ul
              - p[:sidebar][:a][:items].each do |i|
                %li= i
      %article.main-column
        %h3.article-header= p[:content][:standfirst_title]
        %p.standfirst= p[:content][:standfirst]
  = yield
