%header.project-banner
  <div class="image-wrapper #{t('type_club.slug')}"></div>
  %section.banner
    %h1= t("type_club.name")
    %h5.half-opacity.timeframe.m-bt-nil Role: #{t("type_club.role")}
    %h5.half-opacity.timeframe= t("type_club.timeframe")
    %p.subtitle= t("type_club.subtitle")
%section.project-body
  .box
    %aside.sidebar-l
      .sidebar-set
        %header
          %h5 Role
          %p #{t("type_club.role")}
      .sidebar-set
        %header
          %h5 Services Offered
          %ul
            %li Logo design
            %li Poster design
            %li Marketing campaigns
            %li Design strategy workshops
            %li Film screenings
            %li Weekly design office hours
            %li Travelling design library
      .sidebar-set
        %header
          %h5 Clients
          %ul
            %li= link_to "Patricelli Center for Social Entrepreneurship at Wesleyan University",
              "http://www.wesleyan.edu/patricelli/", target: "_blank"
            %li= link_to "The Minds Foundation",
              "http://www.mindsfoundation.org/", target: "_blank"
            %li Wesleyan Consulting Group
            %li= link_to "PYXIS - Wesleyan Journal of the Humanities", 
              "http://pyxisjournal.com/", target: "_blank"
            %li Wesleyan Doula Project
            %li Wesleyan's College of the Environment & Sustainability Interns
            %li= link_to "Shining Hope for Communities (SHOFCO)",
              "http://www.shofco.org/", target: "_blank"
    %article.main-column
      %h3.article-header= t("type_club.standfirst_title")
      %p.standfirst-second= t("type_club.standfirst")

      .box
        .row
          %figure.image-wrapper.side-caption
            = image_tag("type_club/Press-Argus.jpg")
            %figcaption
              TypeClub was featured in the university's student newspaper
              <em>The Wesleyan Argus</em> on April 5, 2012. <a href="http://wesleyanargus.com/2012/04/05/type-club/">Read the article here.</a>
      .row
        %h4 Humble beginnings
        %p
          When I first learned how to do graphic design in 2011, I discovered
          the absence of a design community at Wesleyan. I relied on many
          online resources to improve my skills as a designer, but I realized
          that if I wanted to make my skills worthwhile to have, I needed to
          apply them to real projects. After making flyers and websites for
          school organizations I was apart of, I wanted to find people who
          shared my interest in design so that we can help each other improve
          and use our design skills towards benefiting our local community.
  .box
    %article.main-column.no-left
      .row
        %figure.image-wrapper
          = image_tag("type_club/n+1.png")
          %figcaption <em>n+1</em>, March 2013
  .box
    %article.main-column.no-left
      .row
        %h4 Defining a process
        %p
          After months of iterating on the best way to organize the team and
          workflow, we decided that TypeClub would be organized like this:
        %ul
          %li Keep a small team of all designers and one project manager.
          %li Meet weekly in person.
          %li Projects would be assigned to 1-3 designers at a time, keeping everyone involved.
          %li Be led as a cooperative with everyone having an input in the direction of the organization.
  .box.bd-top-l.bd-bottom-l.p-bottom-m
    %article.col-2
      .column
        %figure.image-wrapper
          = image_tag("type_club/Student-Frame.png")
          %figcaption <em>Student Frame</em>, March 2013
      .column
        %figure.image-wrapper
          = image_tag("type_club/Wesleyan-Consulting-Group.png")
          %figcaption <em>Wesleyan Consulting Group</em>, December 2012
  .box
    %article.main-column.no-left
      %h4 Lessons from leadership
      %p
        One of the biggest lessons I gained from this leadership experience was
        the importance of communicating effectively with all of my teammates.
        This meant not only having frequent discussion on goals and how to
        achieve them, but also listening to everyone's input with undivided
        attention.
  .box
    %article.col-2
      .column
        %figure.image-wrapper
          = image_tag("type_club/WesDEF-Party.jpg")
          %figcaption <em>Partying Hard or Hardly Partying</em>, Wesleyan Diversity Education Facilitators, October 2012
      .column
        %figure.image-wrapper
          = image_tag("type_club/Minds-Foundation.png")
          %figcaption <em>Wesleyan Consulting Group</em>, December 2012
