%header.project-banner
  <div class="image-wrapper #{t('type_club.slug')}"></div>
  %section.banner
    %h1= t("type_club.name")
    %h5.half-opacity= t("type_club.timeframe")
    %p= t("type_club.subtitle")
%section.project-body
  .box
    %aside.sidebar-l
      -# .sidebar-set
      -#   =link_to 'Visit website', 'http://huesandviews.tumblr.com', class: 'button'
      .sidebar-set
        %header
          %h5 Services Offered
          %ul
            %li Logo design
            %li Poster design
            %li Marketing campaigns
            %li Design strategy workshops
            %li Film screenings
            %li Weekly design office hours
            %li Travelling design library
      .sidebar-set
        %header
          %h5 Clients
          %ul
            %li= link_to "Patricelli Center for Social Entrepreneurship at Wesleyan University",
              "http://www.wesleyan.edu/patricelli/", target: "_blank"
            %li= link_to "The Minds Foundation",
              "http://www.mindsfoundation.org/", target: "_blank"
            %li Wesleyan Consulting Group
            %li= link_to "PYXIS - Wesleyan Journal of the Humanities", 
              "http://pyxisjournal.com/", target: "_blank"
            %li Wesleyan Doula Project
            %li Wesleyan's College of the Environment & Sustainability Interns
            %li= link_to "Shining Hope for Communities (SHOFCO)",
              "http://www.shofco.org/", target: "_blank"
    %article.main-column
      %h3.article-header= t("type_club.standfirst_title")
      %p.standfirst-second= t("type_club.standfirst")

      .box
        .row
          %figure.image-wrapper.side-caption
            = image_tag("type_club/Press-Argus.jpg")
            %figcaption TypeClub was featured in the university's student newspaper <em>The Wesleyan Argus</em> on April 5, 2012. <a href="http://wesleyanargus.com/2012/04/05/type-club/">Read the article here.</a>
  .box
    %article.main-column.no-left
      .row
        %h4 Humble beginnings
        %p
          When I first learned how to do graphic design in 2011, I discovered the absence of a design community at Wesleyan. I relied on many online resources to improve my skills as a designer, but I realized that if I wanted to make my skills worthwhile to have, I needed to apply them to real projects. After making flyers and websites for school organizations I was apart of, I wanted to find people who shared my interest in design so that we can help each other improve and use our design skills towards benefiting our local community.
        %figure.image-wrapper
          = image_tag("type_club/n+1.png")
          %figcaption Student Frame, March 2013
        %h4 Defining a process
        %p
          I guess I wasn't the only one who wanted to live in San Francisco.
          What began as an innocuous desire to move to the city of my dreams
          emerged a rocky relationship between myself and the city, where I
          questioned my position as a "tech worker" amidst a housing crisis and
          an ever-growing inequality gap amongst residents of the Bay Area.
        %p
          In wanting to belong to the city in a more participatory nature
          beyond simply paying rent, I wanted to be in the public, deliberately
          blending into the street as I drew it.
  .box
    %article.col-2
      .col
        %figure.image-wrapper
          = image_tag("type_club/Student-Frame.png")
          %figcaption Student Frame, March 2013
      .col
        %figure.image-wrapper
          = image_tag("type_club/Wesleyan-Consulting-Group.png")
          %figcaption Wesleyan Consulting Group, December 2012
  .box
    %article.main-column.no-left
      %h4 Lessons from leadership
      %p
        When I travelled abroad by myself in April 2014 and visited the one of
        the most sought-after cities in the world, Paris, I wondered about the
        significance of visiting famous sites. After we see the thing we've
        been meaning to see, what's next? I took a few selfies with the Eiffel
        Tower and the Louvre. But yet, I still didn't have a relationship with
        this Place. I did what felt most uncomfortable to me; I tried to draw
        the moment to cement the memory with my ink lines.
  .box
    %article.main-column.full-width
      .row
        %figure.image-wrapper
          = image_tag("type_club/Compost.jpg")
          %figcaption October 2012
  .box
    %article.col-2
      .col
        %figure.image-wrapper
          = image_tag("type_club/WesDEF-Party.jpg")
          %figcaption October 2012
      .col
        %figure.image-wrapper
          = image_tag("type_club/Minds-Foundation.png")
          %figcaption Wesleyan Consulting Group, December 2012
