---
layout: "home"
---

%section.project-body
  .box
    %article.full-width.fl-w
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/nude-1.jpg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/Koblenz-Square-M.png")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/oil/Corkboard-2010.jpg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/cardinal-colored/CardinalColored.jpg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/self-discovery/Self-Sufficiency-2011.jpg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/DTLA-2010.jpg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/experiment.jpg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/Jonathan-in-Pittsburgh-2008.jpeg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/Aching.png")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/frank-ocean/open-last.jpg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/Lisa-in-a-Chair-2009.jpeg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/Shoes-2009.jpeg")
      %article.grid-item
        .grid-item-wrapper
          = image_tag("art/Truck-2009.jpeg")
