---
layout: "home"
---

%section.outer-container
  .p-top-m
    - data.projects.projects.each_with_index do |project, index|
      %article.project-item
        - if project.external === true
          %h3.p-title= link_to project.name, project.url
          %ul.project-meta-info-list
            %li.project-meta-info-item
              %h6.p-timeframe= project.timeframe
            - if project.type?
              %li.project-meta-info-item
                %h6.p-type= project.type
          %p.p-subtitle= project.subtitle

        - else
          %h3.p-title= link_to project.name, "/projects/#{project.slug}"
          %ul.project-meta-info-list
            %li.project-meta-info-item
              %h6.p-timeframe= project.timeframe
            - if project.type?
              %li.project-meta-info-item
                %h6.p-type= project.type
          %p.p-subtitle= project.subtitle
