---
layout: "home"
---

%section.outer-container
  .p-top-m
    %article.priority-row
      .facebook-item
        %i.fa.fa-facebook-official
        %h4.facebook-title Product Designer
        %h5.facebook-timeframe January 2015 — Now
      .art-cta-item
        %h4
          = link_to "View my art tumblr", "http://lisasyart.tumblr.com"
      -# .person-description
      -#   %h2.description
      -#     Hey there! My name is Lisa, and I'm an interdisciplinary designer, artist, illustrator, and front-end developer. I currently work at Facebook in California as a product designer.

  .p-top-l
    %article.full-width.fl-w
      - data.projects.projects.each_with_index do |project, index|
        - if project.external === true
          %article.grid-item
            .grid-item-wrapper
              -# = link_to image_tag(project.index_image_url, class: "project-index-image"), project.url
              = image_tag(project.index_image_url, class: "project-index-image")
              -# .project-description
              -#   %h2.project-name #{project.name} (#{project.timeframe})
              -#   %h3.project-type= project.type

        - else
          - if project.index_image_url?
            %article.grid-item
              .grid-item-wrapper
                -# = link_to image_tag(project.index_image_url, class: "project-index-image"), "/projects/#{project.slug}"
                = image_tag(project.index_image_url, class: "project-index-image")
                -# .project-description
                -#   %h2.project-name #{project.name} (#{project.timeframe})
                -#   %h3.project-type= project.type
